.header {
    background-color: rgb(174, 131, 255);
    backdrop-filter: blur(5px);
    padding: 2px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 15px;
}

.header__content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.header__nav {
    background-color: azure;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 3px 5px rgba(0, 225, 255, 0.562);
}

.header__nav a {
    font-family: 'FuturisCTT', Courier, monospace;
    font-size: 1em;
    margin: 0 10px;
    text-decoration: none;
    color: burlywood;
    font-weight: bold;
}

.header_nav a:hover {
    color:rgb(15, 63, 6);
}

@media (max-width: 768px) {
    .header__content {
        flex-direction: column;
        align-items: center;
    }

    .header_nav {
        margin: 10px 0;
    }

    .button_header {
        justify-content: center;
    }


}