.body {
    font-family: 'FuturisCTT', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(155deg, #90dd9f 0%, #ddedc9 50.12%, #9fceb2 100%);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    font-family: 'FuturisCTT', Arial, sans-serif;
    font-size: 2em;
    margin: 0;
    flex: 1;
    text-align: center;
}

.h2 {
    font-family: 'FuturisCTT', Arial, sans-serif;
    font-size: 2em;
    margin: 0;
    flex: 1;
    text-align: center;
}

.h3 {
    font-family: 'FuturisCTT', Arial, sans-serif;
    font-size: 2em;
    margin: 0;
    flex: 1;
    text-align: center;
}

.p {
    font-family: 'FuturisCTT', Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    flex: 1;
    text-align: center;
}