.main__button {
    text-decoration: none;
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 1em;
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 24px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;    
	border-radius: 3px;
	height: 37px;
	line-height: 37px;
	color:rgb(255, 198, 42);
	background-color:rgb(174, 131, 255);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	transition: box-shadow .18s ease-out;
    background: .18s ease-out,color .18s ease-out;
	text-decoration: none;
}

.main__button:focus-visible {
    text-decoration: none;
	box-shadow: 0 0 0 3px rgb(174, 131, 255);;
}

.main__button:hover {
    text-decoration: none;
	box-shadow: 0 1px 1px 0  rgb(174, 131, 255);, 0 2px 5px 0  rgb(174, 131, 255);
}

.main__button:active {
    text-decoration: none;
	background-color: rgb(255, 198, 42)rgb(255, 198, 42) !important;
}

.main__button:disabled {
    text-decoration: none;
	background-color: rgb(255, 198, 42);
	color: #444;
	pointer-events: none;
}

.main__button:focus-visible {
    text-decoration: none;
	box-shadow: 0 0 0 3px rgb(174, 131, 255);
}
.main__button:hover {
    text-decoration: none;
	box-shadow: 0 1px 1px 0  rgb(174, 131, 255);, 0 2px 5px 0  rgb(174, 131, 255);
}

.main__button:active {
    text-decoration: none;
	background-color: rgb(174, 131, 255); !important;
}

.main__button:disabled {
    text-decoration: none;
	background-color: rgb(174, 131, 255);
	color: rgb(174, 131, 255);
	pointer-events: none;
}

