.students__works {
    background: #333;
    padding-top: 100%;
    position: relative;
    background-color: rgba(216, 216, 216, 0.795);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(186, 145, 240, 0.699);;
}

.course {
    background-color: rgba(216, 216, 216, 0.795);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(186, 145, 240, 0.699);;
}

.actions {
    background-color: rgba(216, 216, 216, 0.795);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(186, 145, 240, 0.699);;
}

.contacts {
    background-color: rgb(191 246 215 / 76%);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 133, 60, 0.76);
}

.network {
    background-color: rgb(191 246 215 / 76%);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 133, 60, 0.76);
}

.number {
    background-color: rgba(186, 145, 240, 0.699);;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(186, 145, 240, 0.699);;
}

.sale {
    background: #333;
    padding-top: 100%;
    position: relative;
    background-color: rgba(186, 145, 240, 0.699);;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(186, 145, 240, 0.699);;
}
